---
import { Icon } from "astro-icon/components";
const { kraj, size, href } = Astro.props;
---
<a class="badge" {href}>
    <Icon name="gps2" {size} />
    <span>{kraj}</span>
</a>
<style>
    .badge {
        display: flex; 
        align-items: center; 
        gap: 5px; 
        padding: 10px; 
        background: var(--heading-text); 
        color: white;
        width: fit-content; 
        border-radius: 10px;

    }
    .badge:hover {
        background: rgb(45, 118, 255);
    }
</style>