---
import { getCollection, render } from 'astro:content';
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import PageLayout from "../../layouts/PageLayout.astro";
import pfp from "../../assets/randomPfp.jpg";

const allPosts = await getCollection('blog');
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-default.min.css" integrity="sha512-jHurNV8IL4Q4DRHzlRaIboSWZqnA3KU6KTiRQrtU+jxE1MHxdiveHrztuHhyna6PWTE427SxNDDUqjaruirB2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.min.js" integrity="sha512-51WDTV7haD9BBDc8RWH2r5TnuSiRyAqEnbGyuKHYn+qpYCrCckxFeqlr1I5UoOULijyLV2vnHO9LS4MrAzHxwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<PageLayout title="O mne">
<div class="blog-header">
    <div class="blog-wrapper">
      <div>
        <h1>O mne</h1>
        <h2>Kto som a čomu sa venujem</h2>
      </div>
      <Icon name="about" size={200}/>
    </div>
  </div>
<div class="container">
  <div class="about-container">
    <div class="about">
      <Image
      class="pfp"
      src={pfp}
      alt="Profile Picture"
      loading="eager"
      fetchpriority="high"
      />
      <div class="about-text">
        <h2>Niečo o nás</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae itaque perferendis blanditiis voluptas, iusto suscipit sint veniam quos, architecto illum praesentium illo libero dolor dolores ullam consequatur culpa. Ipsa, vero!
          Consequuntur, maiores sint provident beatae id repellendus ducimus est dolorum adipisci cumque pariatur in. Fugit rerum ea soluta voluptas quos eligendi, quisquam ut harum quia, delectus accusamus, tenetur vero ex!
          Eum exercitationem iste ipsum quos quam veniam. Esse repellendus voluptatem libero eveniet perspiciatis harum atque, laboriosam asperiores aliquid sunt modi sint eum ipsum quidem deleniti aut. Fuga deleniti iure amet!
          Eos tempore quis repellendus ipsa impedit, tempora quaerat placeat voluptas perspiciatis. Fugiat tenetur quidem alias iure obcaecati explicabo odio neque tempora. Delectus eius perferendis non illo omnis labore totam reiciendis.
          Accusamus, dolorem modi ipsam odio labore iusto esse non, illum placeat delectus obcaecati unde repellat deserunt? Voluptates, ut minima esse fugit, error earum dolorem laboriosam exercitationem provident, quaerat blanditiis deleniti?</p>
      </div>
    </div>
    <div class="achievments-container">
      <div class="achievments">
        <h2>Behy</h2>
        <p class="odometer" id="run-count">5</p>
      </div>
      <div class="achievments">
        <h2>Blog Posty</h2>
        <p class="odometer" id="blog-count">12</p>
      </div>
      <div class="achievments">
        <h2>Achievementy</h2>
        <p class="odometer" id="achievement-count">7</p>
      </div>
    </div>
  </div>
</div>
</PageLayout>
<style>
  .container {
    max-width: 1500px;
    margin: 50px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-header h1 {
    font-size: 4rem;
    font-weight: bolder;
  }
  .blog-header h2 {
    font-size: 1.5rem;
  }
  .blog-header {
    background-image: url("../../icons/pozadieAbout.svg");
    background-size: cover;
    padding-inline: 20%;
    padding-block: 35px;
  }
  .blog-wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pfp {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    object-fit: cover;
  }
  .about {
    display: flex;
    gap: 60px;
    height: 500px;
    overflow: hidden;
  }
  .about p {
    line-height: 2;
  }
  .about-text {
    position: relative;
  }
  .about-text h2{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--nav-hover-text);
  }
  .about-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, var(--nav-hover-text), white);
  }
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
  }
  .achievments-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
  }
  .achievments-container::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, var(--nav-hover-text), white);
  }
  .achievments {
    text-align: center;
  }  
  .achievments h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--nav-hover-text);
  }
  .odometer {
    display: inline-block;
    margin-inline: 5px;
    background:
      linear-gradient(66.77deg, var(--code-gradient-three) 0%, var(--code-gradient-three) 100%) padding-box,
      linear-gradient(155deg, var(--code-gradient-one) 0%, var(--code-gradient-two) 18%, var(--code-gradient-three) 45%) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 6px 8px;
    color: var(--nav-hover-text);
    font-size: 2rem;
    width: 50px;
    font-family: monospace;
  }

  /* Timeline */


</style>
<script define:vars={{ allPosts }}>

    const createOdometer = (el, value) => {
    const odometer = new Odometer({
      el: el,
      value: 0,
    });

    const options = {
      threshold: [0, 0.9],
    };

    let hasRun = false;

    const callback = (entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          if (!hasRun) {
            odometer.update(value);
            hasRun = true;
          }
        }
      });
    };

    const observer = new IntersectionObserver(callback, options);
    observer.observe(el);
  };

  const runCount = document.getElementById("run-count");
  createOdometer(runCount, 5);

  const blogCount = document.getElementById("blog-count");
  createOdometer(blogCount, allPosts.length);

  const achievementCount = document.getElementById("achievement-count");
  createOdometer(achievementCount, 7);

// src: https://www.youtube.com/watch?v=p2rV9tKvjFg

</script>
 