---
---
<footer>
    <p class="p-footer">
        &copy Copyright - Runhills - All Rights Reserved
    </p>
</footer>
<style>
    .p-footer {
    margin-block: 20px;
    text-align: center;
} 
</style>