---
import { Icon } from "astro-icon/components";
const { blogTitle, blogDescription, iconName } = Astro.props;
---
<div class="blog-header">
  <div class="blog-wrapper">
    <div>
      <h1>{blogTitle}</h1>
      <h2>{blogDescription}</h2>
    </div>
    <Icon name={iconName} size={200} />
  </div>
</div>
<style>
  .blog-header h1 {
    font-size: 4rem;
    font-weight: bolder;
  }
  .blog-header h2 {
    font-size: 1.5rem;
  }
  .blog-header {
    background-image: url("../../icons/pozadie.svg");
    background-size: cover;
    padding-inline: 20%;
    padding-block: 35px;
  }
  .blog-wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
