---
import PageLayout from "../../layouts/PageLayout.astro";
import Slovensko from "../../Components/Slovensko.astro";
---

<PageLayout title="Túry">
  <h1>Hikes Page!</h1>
  <div class="mapa">
    <Slovensko />
  </div>
</PageLayout>

<style>
  .mapa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    
    const svg = document.querySelector(".mapa svg");
    
    if (!svg) {
      console.error("SVG element not found!");
      return;
    }
    
    const regions = svg.querySelectorAll("path[name]");

    regions.forEach(region => {
      
      region.classList.add("region-path");

      region.addEventListener("mouseenter", function () {
        svg.appendChild(region);
      });
    });
  });
</script>
