* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scrollbar-gutter: stable;
    background: #f2f2f2;
}

img {
    display: block;
}

/* Dark-mode */

#themeToggle {
    cursor: pointer;
}

html.dark {
    background: #273541;
    color: white;
}

.dark .main-nav {
    background: #273541;
    color: white;
    border-block-end: 1px solid white;
}

.dark .main-ul a {
    color: white;
}
.dark .main-ul {
    background: #273541;
}
.dark .wrapper {
    background-color: #725d5d;
    box-shadow: 1px 1px 10px #242424;
}
.dark .star-filled {
    fill: #ffffff;
}
.dark .post-container, .dark .ratings {
    background: #725d5d;
}
.dark .hamburger {
    fill: white;
}
.dark .nav-item-dropdown .arrow-dropdown {
    fill: white;
}
