---
const { frontmatter } = Astro.props;
---
<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="sitemap" href="/sitemap.xml"/>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

<!-- Primary Meta Tags -->
{/* to-do: dynamické načítavanie title, content */}
<title>BezNaHory</title>
<meta name="title" content="Stránka o horách" />
<meta name="description" content="Stránka o horách" />