---
import ThemeManager from "../theme/ThemeManager.astro";

const { frontmatter } = Astro.props;
---
<!-- Theme Manager - Must be loaded first -->
<ThemeManager defaultTheme="auto" />

<!-- Global Metadata -->
<link rel="icon" type="image/x-icon" href="/favicon6.svg" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="sitemap" href="/sitemap.xml"/>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mozilla+Text:wght@200..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
<!-- Primary Meta Tags -->
{/* to-do: dynamické načítavanie title, content */}
<title>Beznahory</title>
<meta name="title" content="Stránka o horách" />
<meta name="description" content="Stránka o horách" />