---
import { Icon } from "astro-icon/components";
const { type, title } = Astro.props;
---
<aside class:list={[type === "tip" && "tip", type === "danger" && "danger"]}>
    <div>
        {type === "tip" && <Icon name="tip" size={25}/>}
        {type === "danger" && <Icon name="danger" size={25}/>}
        <h3>{title}</h3>
    </div>
    <slot />
</aside>
<style>
    .tip {
        background: #add8e6;
        color: black;
        padding: 10px;
        border-inline-start: 5px solid #00a6dd;
        margin-block: 15px;
    }
    .danger {
        background: #ff8b8b;
        color: black;
        padding: 10px;
        border-inline-start: 5px solid #ff0f0f;
        margin-block: 15px;
    }
    aside > div {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-block-end: 15px;
    }
    aside h3 {
        font-size: 1.3rem;
        font-weight: 600;
    }
</style>