---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import PageLayout from "../../layouts/PageLayout.astro";

const allPosts = Object.values(
  import.meta.glob("../blog/posts/*.mdx", { eager: true }))
  .filter((post: any) => post.frontmatter?.thumbnail?.url && post.frontmatter?.type === "akcia");
---
<PageLayout title="Kalendár akcií">
  <div class="container">
    <Icon class="calender" name="calendar" size={250}/>
  </div>
</PageLayout>
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    margin: 50px auto;
  }
  .calender {
    color: var(--nav-hover-text);
  }
</style>
