---
import SwitchMode from "./SwitchMode.astro";
---

<header>
  <nav class="main-nav">
    <div class="main-logo">
      <img src="" alt="" />
      <h2>Názov</h2>
    </div>
    <div class="nav-flex">
      <ul class="main-ul">
        <li><a href="/">Domov</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/hikes">Túry</a></li>
        <li><a href="/about">O mne</a></li>
      </ul>
      <SwitchMode />
    </div>
  </nav>
</header>
<script>

</script>
