---
import Presov from "./paths/Presov.astro";
import Kosice from "./paths/Kosice.astro";
import Bratislava from "./paths/Bratislava.astro";
import Trnava from "./paths/Trnava.astro";
import Trencin from "./paths/Trencin.astro";
import BanskaBystrica from "./paths/BanskaBystrica.astro";
import Nitra from "./paths/Nitra.astro";
import Zilina from "./paths/Zilina.astro";
---

<!--?xml version="1.0"?--><!--********* Copyright (c) 2024 Pareto Softare, LLC DBA Simplemaps.com ***************************************
************* Free for Commercial Use, full terms at  https://simplemaps.com/resources/svg-license ************
************* Attribution is appreciated! https://simplemaps.com *******************************************-->
<svg
  fill="#6f9c76"
  stroke="#ffffff"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width=".5"
  version="1.2"
  viewBox="0 0 1000 492"
  xmlns="http://www.w3.org/2000/svg"
>
  <g class="presov">
    <a href="/" aria-label="Prešovský kraj">
      <Presov />
    </a>        
    <text
      dominant-baseline="middle"
      text-anchor="middle"
      x="750"
      y="150"
      font-family="Arial"
      font-size="20px"
      stroke="none"
      fill="white">Prešovský</text
    >
  </g>
  <g class="kosice">
    <a href="/" aria-label="Košický kraj">
      <Kosice />
    </a>
    <text
      dominant-baseline="middle"
      text-anchor="middle"
      x="720"
      y="250"
      font-family="Arial"
      font-size="20px"
      stroke="none"
      fill="white">Košický</text
    >
  </g>
  <g class="bratislava">
    <a href="/" aria-label="Bratislavský kraj">
      <Bratislava />
    </a>
    <text
      dominant-baseline="middle"
      text-anchor="middle"
      x="100"
      y="331"
      font-family="Arial"
      font-size="15px"
      stroke="none"
      fill="white">Bratislavský</text
    >
  </g>
  <g class="trnava">
    <a href="/" aria-label="Trnavský kraj">
      <Trnava />
    </a>
    <text
      dominant-baseline="middle"
      text-anchor="middle"
      x="180"
      y="310"
      font-family="Arial"
      font-size="15px"
      stroke="none"
      fill="white">Trnavský</text
    >
  </g>
  <g class="trencin">
    <a href="/" aria-label="Trenčiansky kraj">
      <Trencin />
    </a>
    <text
      dominant-baseline="middle"
      text-anchor="middle"
      x="270"
      y="200"
      font-family="Arial"
      font-size="20px"
      stroke="none"
      fill="white">Trenčiansky</text
    >
  </g>
  <g class="banska-bystrica">
    <a href="/" aria-label="Banskobystrický kraj">
      <BanskaBystrica />
    </a>
    <text
      dominant-baseline="middle"
      text-anchor="middle"
      x="470"
      y="275"
      font-family="Arial"
      font-size="20px"
      stroke="none"
      fill="white">Banskobystrický</text
    >
  </g>
  <g class="nitra">
    <a href="/" aria-label="Nitriansky kraj">
      <Nitra />
    </a>
    <text
      dominant-baseline="middle"
      text-anchor="middle"
      x="270"
      y="385"
      font-family="Arial"
      font-size="20px"
      stroke="none"
      fill="white">Nitriansky</text
    >
  </g>
  <g class="zilina">
    <a href="/" aria-label="Žilinský kraj">
      <Zilina />
    </a>
    <text
      dominant-baseline="middle"
      text-anchor="middle"
      x="415"
      y="140"
      font-family="Arial"
      font-size="20px"
      stroke="none"
      fill="white">Žilinský</text
    >
  </g>
  <g id="label_points">
    <circle class="Žilinský" cx="415.4" cy="135.4" id="SKZI"> </circle>
    <circle class="Prešov" cx="742.9" cy="134.5" id="SKPV"> </circle>
    <circle class="Košický" cx="717.7" cy="240.8" id="SKKI"> </circle>
    <circle class="Bratislavský" cx="98.7" cy="337.5" id="SKBL"> </circle>
    <circle class="Trnavský" cx="176.3" cy="308.4" id="SKTA"> </circle>
    <circle class="Trenciansky" cx="267" cy="196.3" id="SKTC"> </circle>
    <circle class="Banskobystrický" cx="473.4" cy="273" id="SKBC"> </circle>
    <circle class="Nitriansky" cx="269" cy="380.9" id="SKNI"> </circle>
  </g>
</svg>
<style>
  svg {
    width: 100%;
    max-width: 800px;
    height: auto;
    overflow: visible;
  }

  .region-path {
    transition: all 0.3s ease;
    cursor: pointer;
    transform-origin: center;
    transform-box: fill-box;
  }

  .region-path:hover {
    fill: #4a7c59;
    stroke-width: 2;
    transform: scale(1.03);
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.4));
  }
  g text {
    opacity: 0;
    transition: opacity 0.8s ease;
  }
  g:hover text {
    opacity: 1;
    text-shadow: 1px 1px 10px black;
  }
</style>
