---
import "../Styles/global.css";
import Header from "../Components/Header.astro"
import Footer from "../Components/Footer.astro"
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Runhill</title>
    <style is:inline>
      h2 {
        padding-block: 20px;
      }
      p {
        line-height: 25px;
      }
      img:nth-child(1) {
        width: 100%;
        margin-block: 20px;
      }
      .main-nav h2 {
        color: #273541;
        padding: 0;
      }
      .dark .main-nav h2 {
        color: white;
      }
    </style>
  </head>
  <body >
    <Header />
    <main>
          <slot />
    </main>
    <Footer />
  </body>
</html>
    

