---
import "../Styles/global.css";
import Header from "../Components/basic/Header.astro"
import Footer from "../Components/basic/Footer.astro"
import BaseHead from "../Components/head/BaseHead.astro";
const {title} = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead {title}/>
  </head>
  <body >
    <Header />
    <main>
        <slot />
    </main>
  </body>
</html>
