---
import BlogLayout from "./BlogLayout.astro";
import BaseHead from "../Components/head/BaseHead.astro"
import Header from "../Components/basic/Header.astro";
import Footer from "../Components/basic/Footer.astro";

const { frontmatter } = Astro.props;
---
<html>
  <head>
    <BaseHead {frontmatter}/>
  </head>
<body>
  <Header />
  <main>
    <BlogLayout {frontmatter}>
        <slot />
    </BlogLayout>
  </main>
  <Footer />
</body>
</html>
